body {
  background: #f9e8a6;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

footer {
  text-align: center;
  display: block;
}

footer a {
  margin: 10px;
}

a {
  color: #008001;
  cursor: pointer;
  text-decoration: underline;
}
